scenario:
  name: cryptobot
  provider:
    name: telegram
    token: '5327386629:AAF-QIZ4i4TWlW0-OABXEtzz9Qp6pRGe2RY' #'2117926131:AAF7tpRWkO1a4qhdjorbGCdfAHAfs8jCV7o'

  states:
    -
      name: unknown
      transitions:
        - {name: to_start, state_to: start, command: {type: 'recognize_input', arguments: ['/start']}}

    -
      name: start
      actions:
        send_text:
          name: send_document
          params:
            text: ./resources/agreement.docx
            caption: >
              Пожалуйста, ознакомьтесь с условиями пользования ботом.
              По вопросам обращайтесь в поддержку: @puls_help
      transitions:
        - {name: to_start_2, state_to: start_2, command: {type: 'button', arguments: ['/next', 'Подтвердить']}}
        - {name: to_start_3, state_to: start_2, command: {type: 'button', arguments: ['/next_2', 'Поддержка', 'tg://user?id=721010871']}}
        - {name: to_start, state_to: start, command: {type: 'recognize_input', arguments: ['/start']}}

    -
      name: start_2
      actions:
        send_text:
          name: send_photo
          params:
            text: ./resources/1.jpg
      transitions:
        - {name: to_state_2_stationary, state_to: state_2_stationary, command: {type: 'button', arguments: ['/next', 'Начать']}}
        - {name: to_state_6_clear_data_2, state_to: state_6_clear_data, command: {type: 'recognize_input', arguments: ['/start']}}
        - {name: to_state_6_clear_data_3, state_to: state_6_clear_data, command: {type: 'recognize_input', arguments: ['Меню']}}

    -
      name: state_2_stationary
      actions:
        remember_var_1:
          name: remember_var
          params: { var: 'market_order_currency', value: 'BTC' }
      transitions:
        - {name: to_state_2_stationary_2, state_to: state_2_stationary_2, command: {type: 'instant'}}

    -
      name: state_2_stationary_2
      actions:
        remember_var_2:
          name: remember_var
          params: { var: 'market_order_type', value: 'Купить' }
      transitions:
        - {name: to_state_2, state_to: state_2, command: {type: 'instant'}}

    -
      name: state_2
      actions:
        send_text:
          name: send_photo
          params:
            text: ./resources/2.jpg
      transitions:
        - { name: to_state_3_1, state_to: state_3, command: { type: 'button', arguments: [ '/next1', 'Сбербанк' ] } }
        - { name: to_state_3_2, state_to: state_3, command: { type: 'button', arguments: [ '/next2', 'Тинькофф' ] } }
        - { name: to_state_3_3, state_to: state_3, command: { type: 'button', arguments: [ '/next3', 'QIWI-кошелек' ] } }
        - { name: to_state_3_4, state_to: state_3, command: { type: 'button', arguments: [ '/next4', 'SIM-карта' ] } }
        - { name: to_state_6_clear_data_2, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ '/start' ] } }
        - { name: to_state_6_clear_data_3, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ 'Меню' ] } }

    -
      name: state_3
      actions:
        remember_type:
          name: remember_caption
          params: { var: 'market_payment_through' }
        send_text:
          name: send_photo
          params:
            text: ./resources/3.jpg
            remove_keyboard: true
      transitions:
        - { name: to_state_4, state_to: state_4, command: { type: 'validate_market_order', arguments: [ true ] } }
        - { name: to_state_3_wrong_amt, state_to: state_3_wrong_amt, command: { type: 'validate_market_order', arguments: [ false ] } }
        - { name: to_state_6_clear_data_2, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ '/start' ] } }
        - { name: to_state_6_clear_data_3, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ 'Меню' ] } }

    -
      name: state_3_wrong_amt
      actions:
        send_labeled_validation_photo:
          name: send_labeled_validation_photo
      transitions:
        - { name: to_state_4, state_to: state_4, command: { type: 'validate_market_order', arguments: [ true ] } }
        - { name: to_state_3_wrong_amt_2, state_to: state_3_wrong_amt_2, command: { type: 'validate_market_order', arguments: [ false ] } }
        - { name: to_state_6_clear_data_2, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ '/start' ] } }
        - { name: to_state_6_clear_data_3, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ 'Меню' ] } }

    -
      name: state_3_wrong_amt_2
      actions:
        send_text:
          name: send_text
          params:
            text: >
              ⚠️ СУММА ПОКУПКИ: от 0.0001 BTC до 0.0051 BTC
      transitions:
        - { name: to_state_4, state_to: state_4, command: { type: 'validate_market_order', arguments: [ true ] } }
        - { name: to_state_3_wrong_amt_2, state_to: state_3_wrong_amt_2, command: { type: 'validate_market_order', arguments: [ false ] } }
        - { name: to_state_6_clear_data_2, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ '/start' ] } }
        - { name: to_state_6_clear_data_3, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ 'Меню' ] } }

    -
      name: state_4
      actions:
        remember_name:
          name: remember_input
          params: { var: 'market_order_buy_amount' }
        send_text:
          name: send_photo
          params:
            text: ./resources/4.jpg
      transitions:
        - { name: to_state_4_remember_address, state_to: state_4_remember_address, command: { type: 'text_input' } }
        - { name: to_state_6_clear_data_2, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ '/start' ] } }
        - { name: to_state_6_clear_data_3, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ 'Меню' ] } }

    -
      name: state_4_remember_address
      actions:
        remember_name:
          name: remember_input
          params: { var: 'market_order_buy_address' }
      transitions:
        - {name: to_state_4_calculate_order, state_to: state_4_calculate_order, command: {type: 'instant'}}
        - { name: to_state_6_clear_data_2, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ '/start' ] } }
        - { name: to_state_6_clear_data_3, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ 'Меню' ] } }

    -
      name: state_4_calculate_order
      actions:
        calculate_market_buy_order:
          name: calculate_market_buy_order
      transitions:
        - {name: to_state_5, state_to: state_5, command: {type: 'instant'}}

    -
      name: state_5
      actions:
        send_text:
          name: send_labeled_photo
      transitions:
        - { name: to_state_6_1, state_to: state_pre_6, command: { type: 'button', arguments: [ '/next1', 'Произвести оплату' ] } }
        - { name: to_state_5_cancel, state_to: state_5_cancel, command: { type: 'button', arguments: [ '/next2', 'Отменить' ] } }
        - { name: to_state_6_clear_data_2, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ '/start' ] } }
        - { name: to_state_6_clear_data_3, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ 'Меню' ] } }

    -
      name: state_5_cancel
      actions:
        cancel_order_data:
          name: cancel_order_data
      transitions:
        - {name: to_start_2, state_to: start_2, command: {type: 'instant'}}


    -
      name: state_pre_6
      actions:
        confirm_market_order:
          name: confirm_market_order
        send_text:
          name: send_text
          params:
            text: ⏳
      transitions:
        - { name: to_state_6, state_to: state_6, command: { type: 'instant' } }

    -
      name: state_6
      actions:
        send_text:
          name: send_text
          params:
            text: Ожидайте реквизиты для оплаты заказа ⏳
      transitions:
        - { name: to_state_8, state_to: state_8, command: { type: 'pending', arguments: [ 'success' ] } }
        - { name: to_state_7, state_to: state_7, command: { type: 'pending', arguments: [ 'fail' ] } }
        - { name: to_state_6_clear_data_2, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ '/start' ] } }
        - { name: to_state_6_clear_data_3, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ 'Меню' ] } }

    -
      name: state_7
      actions:
        send_text:
          name: send_text
          params:
            text: К сожалению ваш заказ был отменен.
      transitions:
        - { name: to_state_6_clear_data, state_to: state_6_clear_data, command: {type: 'button', arguments: ['/next', 'Оформить новый заказ'] } }
        - { name: to_state_6_clear_data_2, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ '/start' ] } }
        - { name: to_state_6_clear_data_3, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ 'Меню' ] } }

    -
      name: state_8
      actions:
        send_text:
          name: send_text
          params:
            text: Произведите оплату {{.market_order_payment_sum}} руб. {{.market_payment_through}} на {{.market_payment_addr}}
      transitions:
        - { name: to_state_9, state_to: state_9, command: { type: 'button', arguments: [ '/next', 'Я заплатил' ] } }
        - { name: to_state_6_clear_data_1, state_to: state_6_clear_data, command: { type: 'button', arguments: [ '/next_2', 'Отказаться от оплаты' ] } }
        - { name: to_state_6_clear_data_2, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ '/start' ] } }
        - { name: to_state_6_clear_data_3, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ 'Меню' ] } }

    -
      name: state_9
      actions:
        user_has_payed:
          name: user_has_payed
        send_text:
          name: send_text
          params:
            text: Ожидайте проверку оплаты заказа ⏳
      transitions:
        - { name: to_state_10, state_to: state_10, command: { type: 'pending', arguments: [ 'success' ] } }
        - { name: to_state_7, state_to: state_7, command: { type: 'pending', arguments: [ 'fail' ] } }
        - { name: to_state_6_clear_data_2, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ '/start' ] } }
        - { name: to_state_6_clear_data_3, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ 'Меню' ] } }

    -
      name: state_10
      actions:
        send_text:
          name: send_photo
          params:
            text: ./resources/6.jpg
      transitions:
        - { name: to_state_6_clear_data, state_to: state_6_clear_data, command: {type: 'button', arguments: ['/next', 'Оформить новый заказ'] } }
        - { name: to_state_6_clear_data_2, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ '/start' ] } }
        - { name: to_state_6_clear_data_3, state_to: state_6_clear_data, command: { type: 'recognize_input', arguments: [ 'Меню' ] } }

    -
      name: state_6_clear_data
      actions:
        cancel_order_data:
          name: cancel_order_data
      transitions:
        - {name: to_start_2, state_to: start_2, command: {type: 'instant'}}